

   /* Footer.css */

.footer {
  background-color: #ffffff; /* Dark background for contrast */
  color: #150c0c; /* White text color */
  padding: 20px;
  text-align: center;
}

.footer-content p {
  margin: 10px 0;
}

.footer-content a {
  color: #161212; /* White link color */
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline; /* Underline on hover for better UX */
}


@media (max-width: 768px) {
  .footer {
    padding: 15px; /* Reduce padding on smaller screens */
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 10px; /* Further reduce padding on very small screens */
  }

  .footer-content p {
    font-size: 0.875rem; /* Adjust font size for smaller screens */
  }
}
